*{
    padding: 0;
    margin: 0;
}


header{
    background-color: #E0D3F1;
    padding: 20px;
    display: flex;
    justify-content: space-between;        
}
.homePage{
    display: flex;
    margin: 23px;
    cursor: pointer;
    font-size: 25px;    
}
.titulo{
    display: flex;
    margin: auto;
    font-size:42px;        
}
body{
    font-family: Arial, Helvetica, sans-serif;  
    text-align: center;
    color: black;
}
h1{
    text-align: center;
    font-size: 25px;
    padding: 10px;
}
p{
    text-align: center;
}
iframe{
    padding: 10px;  
    width: 550px;
    height: 350px;  
}
thead{
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;    
}
table{
    margin-top: 0,5cm;
    margin-left: 13cm;
    text-align: center;
    border-color: rgb(18, 18, 19);    
}
tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
th{
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;    
}

