*{
   margin:0;
   padding:0;
   box-sizing: border-box;
   text-decoration: none;
   font-family: Arial, Helvetica, sans-serif;
}
:root{
   --cor-primaria: #E0D3F1;
   --branco:#fefefe;
   --preto:#222;
}
body{
   width: 100%;
}
