/* HOME PAGE CONFIG ALL */
.container {
    padding-left:6%;
    padding-right: 6%;
 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }
 
 @media screen and (min-width: 600px) {
    .container {
       padding-left: calc((100% - 940px)/2);
       padding-right: calc((100% - 940px)/2);
    }
 }
 
 /* Homepage HEADER Config */
 .header {
    width: 100%;
    height: auto;
    
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: none;
 
    padding-top: .75rem;
    padding-bottom: .75rem;
 
    border-bottom:1px solid ;
 
    /* position: absolute; */
 
    background-color: var(--cor-primaria);
 }
 .header h1{
   color: #a27de2;
   font-family: Arial, Helvetica, sans-serif;
   font-size: x-large;
   font-weight: bolder;
   justify-items: left;
 }
 
 @media screen and (min-width:1024px){
    .header{
       width: 100%;
       flex-direction: row;
       justify-content: space-between;
       border:none;
    }
 }
 
 .header__-b{
    display: flex;
    align-items: center;
    text-align: center;
 }
 
 .header__link{
    font-size: 1.1rem;
    display: inline-block;
    margin-bottom:1.75rem;
    margin-right:1.5rem;
    cursor:pointer;
 }
 .header__link a{
    display: block;
    text-align: center;
    width: 100%;
    max-width: 100px;
    box-sizing: border-box;
    padding:0.2rem;
    border:1px solid transparent;
    border-radius:5px;
    color:#222;
    transition: .30s;
 }
 .header__link a:hover{
    transition: .40s;
    background-color: #a27de2;
    color: #fefefe;
    border: 1px solid transparent;
 }
 .header__logo{
    margin-bottom:1rem;
    width: 100px;
    height: 100px;
 }
 
 .nav-bottom {
    transition:0.3s;
    display: flex;
    flex-direction: column;
    background-color: #b090e7;
    width: 15vw;
    height: 25vh;
    position: absolute;
    left: -100vw;
    transition: .25s;
 }
 .nav-bottom-active {
    height: 98vh;
    position: absolute;
    left: 0vw;
    transition: .25s;
 }
 
 .nav-bottom a{
    position: relative;
    padding-top:1rem;
    padding-bottom:1rem;
    max-width: 400px;
    color: #222;
    text-align: center;
    background: transparent;
    font-size: 17px;
 }
 
 @media screen and (max-width:750px){
    .nav-bottom{
       width: 50vw;
    }
 }
 @media screen and (max-width:850px) {
    .nav-bottom{
       width: 40vw;
    }
 }
 
 .nav-bottom a:hover{
    background: #5513be;
    color:#f2f2f2;
 }
 
 .sub-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:center;
    padding-top:1.3rem;
    padding-bottom:1rem;
 }
 .destaque_img{
    width: 100vw;
    max-width: 600px;
    box-shadow: 0 2px 10px 5px #00000020;
    margin-bottom: .5rem;
    margin-top: 1rem;
 }
 @media screen and (max-width:600px){
    .destaque_img{
       padding-top:0.5rem;
       width: 340px;
    }
    iframe{
      padding-top:0.8rem;
       width: 340px; 
    }
    .header h1{
      font-size: 18px;
      margin-bottom: 3.3rem;
    }
 }
 .wrapper{
    padding-top:1rem;
    padding-bottom: 1rem;
 }
 main{
    display: flex;
    font-size: 22px;
 }
 
 /* .content_principal{
    width: 300px;
 } */
 
 /* MODO DARK */
 .headerDark{
    background-color:#4e03c7;
    transition:.25s;
 }
 .headerDark .btnLink{
    background-color:#6b22e0;
    color: white;
    transition:.25s;
 }
 .headerDark .btn-darkMode{
    background-color:#6b22e0;
    color: white;
    transition:.25s;
 }
 
 .headerDark .btn-menu{
    background-color:#6b22e0;
    color: white;
    transition:.25s;
 }
 .nav-bottom-dark{
    background-color:#4e03c7;
    transition:.20s;
 }
 .nav-bottom-dark a{
    background-color:#8346e6;
    transition:.20s;
 }
 .bodyDark{
    background-color:#363636;
    transition:.20s;
    color:#f3f3f3;
 }
 .bodyDark a{
    color: rgb(255, 255, 255);
 }
 .bodyDark .sub-content{
    background: #363636;
 }
 .card{
    border: #c4a7f5 2px solid;
    background-color: transparent;
    height: 400px;
    width: 300px;
    margin: 5px 1px 5px 0px;
    display: flex;
    flex-direction: column;
 }
 .titInst{
    background-color: #C9B4ED;
    font-weight: bolder;
    justify-items: center;
 
 }
 .card img{
    border: #c4a7f5 solid;
    width: 300px;
    height: 200px;
 }
 .descrInst{
    height: 127px;
    border-top: 0.5px solid;
 }
 .nameInst{
    border-top: 1px solid;
    border-bottom: 1px solid;
 }