/* HOME PAGE CONFIG ALL */
/* .container {
   width: auto;
   height: auto;
} */

/* Homepage HEADER Config */
.header {
   transition:0.3s;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: space-between;
   padding: 1rem;
   background-color: #C9B4ED;
   border-bottom: 1px solid #222;
}
.nav-top{
   transition:0.3s;
   display: flex;
   align-items:center;
   justify-content: space-between;
   width: 100%;
}
.nav-top a{
   background-color: #a782e9;
   padding: 0.5rem;
   border-radius:4px;
   transition:.25s;
}
.nav-top a:hover{
   background-color: #ba92ff;
   transition:.25s;
}

.links-container{
   display:flex;
   align-items:center;
   justify-content: space-between;
   width: 650px;
   background-color: transparent;
}

.search-container input{
   border:none;
   border-bottom:1.2px solid gray;
   border-radius:4px;
   padding: 2px;
}
.search-container button{
   border:none;
   padding:3px;
   border-radius:3px;
   background:#a782e9;
   color:aliceblue;
   cursor: pointer;
}

.btn-menu{
   background-color: #a782e9;
   padding: 1rem;
   border-radius:4px;
   transition:.25s;
}
.logo-app{
   padding:2rem;
}

.nav-bottom {
   transition:0.3s;
   display: flex;
   flex-direction: column;
   background-color: #b090e7;
   width: 15vw;
   height: 25vh;
   position: absolute;
   left: -100vw;
   transition: .25s;
}


.nav-bottom-active {
   height: 98vh;
   position: absolute;
   left: 0vw;
   transition: .25s;
}

.nav-bottom a {
   height: 64px;
   color: #ffffff;
   background-color: #b090e7;
   margin-bottom: 1px;
   padding-left: 64px;
   display: flex;
   align-items: center;
}

.nav-bottom a:hover{
   background-color: #c4a7f5;
}

main{
   width: 100%;
   display:flex;
   justify-content:space-between;
}
.content-1{
   border: rgb(139, 126, 126) 0.5px solid;
   width:50%;
}
.content-2{
   background:#C72028;
   width:200px;
   height: 80px;
   border-radius: 5px;
}

/* MODO DARK */
.headerDark{
   background-color:#4e03c7;
   transition:.25s;
}
.headerDark .btnLink{
   background-color:#6b22e0;
   color: white;
   transition:.25s;
}
.headerDark .btn-darkMode{
   background-color:#6b22e0;
   color: white;
   transition:.25s;
}

.headerDark .btn-menu{
   background-color:#6b22e0;
   color: white;
   transition:.25s;
}
.nav-bottom-dark{
   background-color:#4e03c7;
   transition:.20s;
}
.nav-bottom-dark a{
   background-color:#8346e6;
   transition:.20s;
}
.bodyDark{
   background-color:rgb(27, 14, 51);
   transition:.20s;
}
.card{
   border: #c4a7f5 2px solid;
   background-color: transparent;
   height: 400px;
   width: 300px;
   margin: 5px 1px 5px 0px;
   display: flex;
   flex-direction: column;
}
.titInst{
   background-color: #C9B4ED;
   font-weight: bolder;
   justify-items: center;

}
.card img{
   border: #c4a7f5 solid;
   width: 300px;
   height: 200px;
}
.descrInst{
   height: 127px;
   border-top: 0.5px solid;
}
.nameInst{
   border-top: 1px solid;
   border-bottom: 1px solid;
}