/* HOME PAGE CONFIG ALL */
/* .container {
   width: auto;
   height: auto;
} */

/* Homepage HEADER Config */
.header {
   width: 100%;
   
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   border: none;

   padding-top: .75rem;
   padding-bottom: .75rem;

   border-bottom:1px solid ;

   /* position: absolute; */

   background-color: var(--cor-primaria);
}

.header__nav{
   display: flex;
   align-items: center;
   text-align: center;
}

.header__link{
   font-size: 1.1rem;
   display: inline-block;

   margin-right: .7rem;
   margin-bottom:1.75rem;
   margin-left:.7rem;
}
.header__link a{
   display: block;
   text-align: center;
   width: 100%;
   max-width: 100px;
   box-sizing: border-box;
   padding:0.4rem;
   border:1px solid transparent;
   border-radius:5px;
   color:#222;
   transition: .30s;
}
.header__link a:hover{
   transition: .40s;
   background-color: #a27de2;
   color: #fefefe;
   border: 1px solid transparent;
}
.header__logo{
   margin-bottom:1rem;
   width: 100px;
   height: 100px;
}

.nav-bottom {
   transition:0.3s;
   display: flex;
   flex-direction: column;
   background-color: #b090e7;
   width: 15vw;
   height: 25vh;
   position: absolute;
   left: -100vw;
   transition: .25s;
}
.nav-bottom-active {
   height: 98vh;
   position: absolute;
   left: 0vw;
   transition: .25s;
}

.nav-bottom a{
   padding-top:0.8rem;
   padding-bottom:0.8rem;
   margin-bottom:0.1rem;
   max-width: 400px;
   color: #222;
   text-align: center;
   background: transparent;
}
.nav-bottom a:hover{
   background: #8346e6;
   color:#f2f2f2;
   border: 1px solid #f3f3f3;
}

main{
   width: 100%;
   display:flex;
   justify-content:space-between;
   margin: 0 auto;
}
.content-1{
   margin-top:2rem;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
.sub-content{
   width: 40%;
   background-color: #f3f3f3;
   padding:1rem;
}
.sub-content p{
   margin-top: 5px;
   margin-bottom: 5px;
}

/* MODO DARK */
.headerDark{
   background-color:#4e03c7;
   transition:.25s;
}
.headerDark .btnLink{
   background-color:#6b22e0;
   color: white;
   transition:.25s;
}
.headerDark .btn-darkMode{
   background-color:#6b22e0;
   color: white;
   transition:.25s;
}

.headerDark .btn-menu{
   background-color:#6b22e0;
   color: white;
   transition:.25s;
}
.nav-bottom-dark{
   background-color:#4e03c7;
   transition:.20s;
}
.nav-bottom-dark a{
   background-color:#8346e6;
   transition:.20s;
}
.bodyDark{
   background-color:#363636;
   transition:.20s;
   color:#f3f3f3;
}
.bodyDark a{
   color: rgb(255, 255, 255);
}
.bodyDark .sub-content{
   background: #222;
}
.card{
   border: #c4a7f5 2px solid;
   background-color: transparent;
   height: 400px;
   width: 300px;
   margin: 5px 1px 5px 0px;
   display: flex;
   flex-direction: column;
}
.titInst{
   background-color: #C9B4ED;
   font-weight: bolder;
   justify-items: center;

}
.card img{
   border: #c4a7f5 solid;
   width: 300px;
   height: 200px;
}
.descrInst{
   height: 127px;
   border-top: 0.5px solid;
}
.nameInst{
   border-top: 1px solid;
   border-bottom: 1px solid;
}